.project-footer{
    width: 90%;
    margin: 100px auto 0;
    a{
        float: right;
        font-size: 40px;
        display: flex;
        align-items: center;
        span{
            font-size: 50px;
            margin: 10px 0 0 15px;
        }
    }
}